/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-09-04, 10:59:37
    Author     : 1895135
*/

.home_slider_content {
    color : #492B21;
}

.catalog{
    text-align: center;
}

.footer_text{
    color:white !important;
}